.welcome-container{
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
}
.authui {
    background-color: #F2F2F2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-col-1 {
    width: 65%;
    background-color: #89089F;
    height: 100vh;
    max-height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.shop-image{
    width: 100%;
    max-height: 75vh;
}

.auth-col-2 {
    background-color: #fff;
    height: 100vh;
    max-height: 1024px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.auth-col-1 .box {
    max-width: 370px;
    text-align: center;
}

.auth-col-1 .content {
    margin-top: -62px;
}

.auth-col-1 h1 {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 48px;
}

.auth-col-1 span {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 46px;
    display: block;
}

@media only screen and (min-width: 1922px){
    .auth-col-1{
        border-radius: 24px 0 0 24px;
    }
    .auth-col-2{
        border-radius:0 24px 24px 0;
    }

}

@media only screen and (max-width: 768px) {
    .auth-col-1 {
        display: none;
    }

    .auth-col-2 {
        width: 100%;
    }
}